In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv("anemia.csv")
df.head()

   Gender  Hemoglobin   MCH  MCHC   MCV  Result
0       1        14.9  22.7  29.1  83.7       0
1       0        15.9  25.4  28.3  72.0       0
2       0         9.0  21.5  29.6  71.2       1
3       0        14.9  16.0  31.4  87.5       0
4       1        14.7  22.0  28.2  99.5       0

In [ ]:
df['Result'].replace(float('0'), 'no', inplace=True)
df['Result'].replace(float('1'), 'yes', inplace=True)
df['Gender'].replace(float('0'), 'male', inplace=True)
df['Gender'].replace(float('1'), 'female', inplace=True)

In [ ]:
df.loc[(df['Gender'] == 'male') & (df['Hemoglobin'] <= 13.2), "status"] = "anemia"
df.loc[(df['Gender'] == 'female') & (df['Hemoglobin'] <= 11.6), "status"] = "anemia"
df.loc[(df['Gender'] == 'male') & (df['Hemoglobin'] >= 13.2), "status"] = "normal"
df.loc[(df['Gender'] == 'female') & (df['Hemoglobin'] >= 11.6), "status"] = "normal"
df.head()

   Gender  Hemoglobin   MCH  MCHC   MCV Result  status
0  female        14.9  22.7  29.1  83.7     no  normal
1    male        15.9  25.4  28.3  72.0     no  normal
2    male         9.0  21.5  29.6  71.2    yes  anemia
3    male        14.9  16.0  31.4  87.5     no  normal
4  female        14.7  22.0  28.2  99.5     no  normal

In [ ]:
df.to_csv('anemiadata.csv', index=False)

In [ ]:
# See the min, max, mean values
print('The highest hemoglobin was of:',df['Hemoglobin'].max())
print('The lowest hemoglobin was of:',df['Hemoglobin'].min())
print('The average hemoglobin in the data:',df['Hemoglobin'].mean())

The highest hemoglobin was of: 16.9
The lowest hemoglobin was of: 6.6
The average hemoglobin in the data: 13.412737508796623

In [ ]:
from sklearn.ensemble import RandomForestClassifier
import multiprocessing 
import time
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
import warnings
warnings.filterwarnings("ignore")

In [ ]:
data = pd.read_csv("anemiadata.csv")
data.head()

   Gender  Hemoglobin   MCH  MCHC   MCV Result  status
0  female        14.9  22.7  29.1  83.7     no  normal
1    male        15.9  25.4  28.3  72.0     no  normal
2    male         9.0  21.5  29.6  71.2    yes  anemia
3    male        14.9  16.0  31.4  87.5     no  normal
4  female        14.7  22.0  28.2  99.5     no  normal

In [ ]:
data['Hemoglobin'] = data['Hemoglobin'].astype(str)
data['Gender'] = data['Gender'].astype(str)
data['Result'] = data['Result'].astype(str)

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1421 entries, 0 to 1420
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Gender      1421 non-null   object
 1   Hemoglobin  1421 non-null   object
 2   MCH         1421 non-null   float64
 3   MCHC        1421 non-null   float64
 4   MCV         1421 non-null   float64
 5   Result      1421 non-null   object
 6   status      1421 non-null   object
dtypes: float64(3), object(4)
memory usage: 77.8+ KB

In [ ]:
data['status'].value_counts()

normal    957
anemia    464
Name: status, dtype: int64

In [ ]:
results = []

def processData(data, outcome_filter):  
    print(outcome_filter)
    df_filter=data[data['status']==outcome_filter]
    df_filter.drop(['status'], axis=1, inplace=True)
    data_new=df_filter
    clf=RandomForestClassifier(n_estimators=100)
    X=data_new.drop('Result', axis=1)  # Features
    y=data_new['Result']  # Labels

    # Split dataset into training set and test set
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1)
    clf.fit(X_train,y_train)
    y_out = clf.predict(X_test)
    X_test['status']=outcome_filter
    cols=list(X_test.columns) + ['Actual']
    out=pd.concat([X_test, y_test], axis=1, ignore_index=True)
    out.columns=cols
    out.reset_index(drop=True, inplace=True)
    final_out=pd.concat([out, pd.DataFrame(y_out)], axis=1, ignore_index=True)
    final_out.columns=list(out.columns)+['Prediction']
    print(final_out.shape)
    return final_out

def collect_results(result):
    results.extend(result.values.tolist())

In [ ]:
multiprocessing.cpu_count()

2

In [ ]:
if __name__ == "__main__":
    start_time = time.time()  
    
    pool = multiprocessing.Pool(processes=multiprocessing.cpu_count()-1)
    for i in data['status'].unique(): 
        pool.apply_async(processData, args=(data.drop(['Hemoglobin', 'Gender'], axis=1), i), callback=collect_results)
    pool.close()
    pool.join()
    
    # Converts list of lists to a data frame
    dataFrame = pd.DataFrame(results, columns=list(data.drop(['Hemoglobin', 'Gender', 'Result'], axis=1).columns) + ['Actual', 'Prediction'])
    print("Dimensions in final test data {}".format(dataFrame.shape))
    print("--- %s seconds ---" % (time.time() - start_time))

normal
(96, 6)
anemia
(47, 6)
Dimensions in final test data (143, 6)
--- 0.49872660636901855 seconds ---

In [ ]:
dataFrame[100:143]

      MCH  MCHC    MCV  status Actual Prediction
100  27.9  31.3   86.4  anemia    yes        yes
101  23.0  30.3   87.7  anemia    yes        yes
102  18.1  31.5   97.1  anemia    yes        yes
103  20.0  29.7   89.7  anemia     no         no
104  20.0  29.1   79.3  anemia    yes        yes
105  23.3  30.4  100.2  anemia     no         no
106  25.2  30.9   83.2  anemia    yes        yes
107  18.8  29.3   79.1  anemia    yes        yes
108  23.5  28.4   75.8  anemia    yes        yes
109  23.0  29.3   85.8  anemia     no         no
110  29.5  30.7   72.6  anemia    yes        yes
111  24.7  29.1   78.7  anemia    yes        yes
112  17.4  32.1   87.3  anemia    yes        yes
113  26.8  32.2   86.6  anemia    yes        yes
114  22.7  30.6   87.3  anemia    yes        yes
115  20.4  30.9  101.6  anemia    yes        yes
116  29.5  30.4   85.0  anemia    yes        yes
117  16.8  32.2   73.6  anemia    yes        yes
118  22.8  28.0   97.3  anemia    yes        yes
119  25.0  30.4   81.4  anemia    yes        yes
120  19.9  28.9   71.6  anemia    yes        yes
121  24.9  28.3  100.0  anemia    yes        yes
122  26.3  29.8   84.9  anemia     no         no
123  19.0  32.2  101.6  anemia    yes        yes
124  17.6  30.2   70.0  anemia    yes        yes
125  25.3  27.9   77.1  anemia    yes        yes
126  27.5  28.2   93.0  anemia    yes        yes
127  29.4  31.1   91.7  anemia    yes        yes
128  25.0  31.7   79.5  anemia    yes        yes
129  26.4  30.4   89.7  anemia    yes        yes
130  27.8  32.2   95.8  anemia    yes        yes
131  23.0  30.5   69.8  anemia    yes        yes
132  24.3  32.5   91.0  anemia    yes        yes
133  20.8  30.7   98.2  anemia    yes         no
134  28.0  30.8   77.3  anemia    yes        yes
135  28.0  28.8   90.6  anemia    yes        yes
136  21.2  31.0   87.0  anemia    yes        yes
137  22.8  28.0   97.3  anemia    yes        yes
138  17.5  29.3   95.8  anemia    yes        yes
139  26.1  28.6   91.0  anemia    yes        yes
140  18.6  29.5   99.6  anemia    yes        yes
141  25.6  28.0   72.1  anemia    yes        yes
142  24.7  29.1   78.7  anemia    yes        yes